h1, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    text-align: left;       
}
div.stButton {
    text-align: center;
}

h1#login {
    font-family: 'Lucida Handwriting', cursive;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    color: #002a32;
}

h1#sign-up {
    font-family: 'Lucida Handwriting', cursive;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    color: #002a32;
}
/*styled input for login*/
.st-key-styledinput_username input {
    border: 3px #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}
.st-key-styledinput_pw input {
    border: 3px #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

/*styled input for sign up*/
.st-key-styledinput_chooseusername input {
    border: 3px #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.st-key-styledinput_choosepw input {
    border: 3px #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.st-key-styledinput_email input {
    border: 3px #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

h1#welcome-to-skilltree {
    font-family: 'Lucida Handwriting', cursive;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    color: #002a32;
}

/*skill tree description*/
.home-paragraph {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 20px;
    text-align:justify;
    font-style: italic;
    font-weight: bold;
}

/*skilltree*/
h2#skilltree {
    text-align: left;
    color: #074a1f;
    font-family: Garamond, serif;
}

.stButton > button {
    background: linear-gradient(135deg, #11998e, #38ef7d);
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    border: none;
}

.stButton> button:hover {
    background: linear-gradient(135deg, #0c635b, #003715);
    transform: scale(1.05);
}

/*contact us page*/

h1#contact-us {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 40px;
    color: #002a32;
}
.contact-paragraph {
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
h3#contact-details {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
    color: #002a32;
}

img {
    width: 550px;
    height: 600px;
    
}

